.feature{
          max-width:1060px;
          margin-right:auto;
          margin-left: auto;
          padding-right:15px;
          padding-left:15px;
          min-height: 80vh;
          padding-top: 45px;
}

.fet-header{
          display: flex;
          justify-content: center;
          padding: 20px;
          margin-bottom: 2.2rem;
          font-size: 3rem;
          font-family: 'Poppins',sans-serif;

}


.feature-list{
          display: grid;
          grid-gap:4rem;
          grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
          margin-bottom: 3.2rem;
}


.feat-item{
          background: linear-gradient(to bottom, #ededed 0%, #ECF2FF 100%);
          border-radius: 10px;
          padding:1rem;
          min-height:270px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          white-space: pre-wrap;

}


 .details h2{
          padding: 1rem;
          margin-top:15px
}

.details p{
          padding:1rem ;
          font-size: 1rem;
}

.details i{
          padding: 1rem;
}

.fet-btn{
          display: flex;
          justify-content: space-between;
          margin-left: auto;
          margin-right: auto;
          padding: 21.2px 42.75px 22.4994px 45px;
          font-size: 1rem;
          text-transform: uppercase;
          background-color:#5335D9;
          color: #eee;
          font-weight: 600;
          cursor:pointer;
          border: #fff 1px solid;
          width: 376.45px;
          height: 63.98px;
          border-radius: 50px;
          justify-content: center;
                    
          }
          
@media screen and(max-width:850px) {
          .feature-list{
                    display: grid;
                    grid-gap:1rem;
                    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); 
          }
          .fet-header{
                    font-size: 1rem;
          }
}